/* font-family: 'Overlock', cursive; */

/* :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
} */

/* font-family: 'Nunito Sans', sans-serif; */
.outer{
    background-color: #083E5A;
  }
.inner{
    max-height: 66vh;
    /* height: fit-content; */
    border-radius: 1.5rem;
}
h1,p{
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    word-spacing: 0.25rem;
}
.ol, .credit{
  font-family: 'Overlock', cursive;
}
.note {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}
.discord{
  font-family: 'Inter', sans-serif;
  font-size: 9px;
}
.credit{
  font-size: 11px;
  color: #989494;
}
.ieeecs{
  color: #FFA008;
}
.develop{
  font-family: 'Inter', sans-serif;
}
